<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Título app 521</title>
	</head>
	<body>
		<h1>Primeira página web</h1>
		<h3>It works!</h3>

		<p>teste = {{ data['mensagem'] }}</p>

		{% if data['pagina'] %}
			<p>página = {{ data['pagina'] }}</p>
		{% endif %}

		{# Montar loop #}
		{% for l in letras %}
			{% if l != 'a' %}
				<p>{{ l | upper }}</p>
			{% else %}
				<p style="color:red">Teste else: {{ l | upper }}</p>
			{% endif %}
		{% endfor %}

	</body>
</html>